{% extends "layout.twig" %}

{% block content %}
<div class="center">
  <div class="success">
    Email successfully send ! please check your inbox (or spam) to click on the link for upload your file and generate your certificate.
  </div>
</div>
{% endblock %}
